@media only screen and (min-width: 32.5em) {
    /*****header*****/
    header {
        width: 100%;
        margin: 25px auto 100px;
        height: 100px;

    }
    h1 {
        font-size: 2.6rem;
    }
    .logohead {

        width: 150px;
        margin-left: 5px;
        margin-top: -25px;
        margin-right: 20px;

    }

    /*****navigation******/


    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: inline-block;
        margin-right: .75rem;
        list-style-type: none;
    }

    /*****Main*****/


    #featuretitle {
        text-align: left;
        font-size: 2.2em;
    }



    .slideshow-container {
        max-width: 600px;

      }
      .text {
        width: 96%;
      }

    /*****Article*****/
    .main-article {
        display: inline-block;
    }
    .articleimg, .featureimg {
        float: right;
        margin-top: 10px;
        margin-right: 10px;
        width: 33%;
        padding: 5px;
    }
    /*****Contact*****/
    .map {
        padding: 10px;
    }
    .contact {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
    .leftcol, .rightcol {
        width: 48%;
        flex: 1 0 15em;
        margin: 1.5em;
      }

    /*****Footer*****/
        footer {
        margin: 20px auto;
        font-size: 1em;
    }


}