@media only screen and (min-width: 32.5em) {

    /*****header*****/
    header {
        width: 100%;
        margin: 25px auto 100px;
        height: 100px;

    }

    h1 {
        font-size: 2.6rem;
    }

    .logohead {

        width: 150px;
        margin-left: 5px;
        margin-top: -25px;
        margin-right: 20px;

    }

    /*****navigation******/
    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: inline-block;
        margin-right: .75rem;
        list-style-type: none;
    }

    /*****Main*****/
    #featuretitle {
        font-size: 2.3em;
        flex-flow: nowrap;
    }

    .featureimg {
        margin: 5px;
    }

    .featrightcol {
        font-size: 1em;
    }

    .slideshow-container {
        max-width: 600px;

    }

    .text {
        width: 96%;
    }

    .templename {
        font-size: 2.2em;
        text-align: center;
    }

    .templegallery {
        grid-template-columns: 1fr 1fr;
    }

    /*****Reservations*****/
    .resinfo {
        flex-direction: row;
    }

    .resinfo label.right {
        text-align: right;
        padding-right: 8px;
        padding-left: 10px;
        width: auto;
    }
    .userinput {
        flex: 1 1 auto;
        display: block;
        margin-top: -4px;
      }
      

    /*****Contact*****/
    .leftcol,
    .rightcol {
        width: 48%;
        flex: 1 0 15em;
        margin: 1.5em;
    }

    /*****Footer*****/
    footer {
        margin: 20px auto;
        font-size: 1em;
    }


}